@font-face{
  font-family:SF Pro Display Semibold;
  src: local('SF Pro Display Semibold'), url(../../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf) format('truetype');
}

.Layout {
  text-align: center;
  min-height: 100vh;
  max-height: available;
  font-family:SF Pro Display Semibold;
}